/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 18px/1.5 "Ranchers", cursive;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.domecek {
  margin: 50px auto;
  width: 700px;
  height: 400px;
  border: 5px solid black;
  border-radius: 20px;
  background: url(images/stred.png) no-repeat center/cover;
  /*
		tady asi budeš muset něco přidat, abys
		pak mohla pozicovat kočky v rámci domečku
		a ne celé stránky
	*/
  position: relative;
}

.dopis {
  width: 84px;
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /*
		kočka si svoje zamilované dopisy
		nejraději čte v levém dolním rohu domečku
	*/
}

.motyl {
  width: 170px;
  height: 118px;
  position: absolute;
  top: calc(50% - 118px / 2);
  left: calc(50% - 170px / 2);
}

.kniha {
  width: 120px;
  height: 140px;
  position: absolute;
  top: -70px;
  left: -60px;
}

.sluchatka {
  width: 124px;
  height: 150px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.spanek {
  width: 154px;
  height: 75px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
